.playField, .playField-active {
  display: flex;
  pointer-events: none;
  flex-direction: column;
  border: 1px solid gray;

  &_row {
    flex: 1;
    display: flex;
  }

  &_block {
    flex: 1;
    width: 40px;
    height: 40px;
    border: 1px solid gray;
  }

}

.playField-active {
  pointer-events: auto;
  border: 1px solid #000;

  &_block {
    cursor: pointer;
    border: 1px solid #000;

    &-hover {
      background-color: dodgerblue;
    }
  }
}
